#OneMap .OneMap_ToolIcon { background-image: url(../../../../../../public/static/img/OneMapToolIcon.png); transform: scale(0.7); cursor: pointer; width: 40px; height: 40px; display: inline-block; background-repeat:no-repeat; }
#OneMap .OneMap_ToolIcon.box { background-position: 0px 0px; }
#OneMap .OneMap_ToolIcon.box:hover { background-position: -40px 0px; }
#OneMap .OneMap_ToolIcon.box.active { background-position: -40px 0px; }
#OneMap .OneMap_ToolIcon.location { background-position: 0px -40px; }
#OneMap .OneMap_ToolIcon.location:hover { background-position: -40px -40px; }
#OneMap .OneMap_ToolIcon.location.active { background-position: -40px -40px; }
#OneMap .OneMap_ToolIcon.measure { background-position: 0px -80px; }
#OneMap .OneMap_ToolIcon.measure:hover { background-position: -40px -80px; }
#OneMap .OneMap_ToolIcon.measure.active{background-position: -40px -80px; }
#OneMap .OneMap_ToolIcon.select { background-position: 0px -120px; }
#OneMap .OneMap_ToolIcon.select:hover { background-position: -40px -120px; }
#OneMap .OneMap_ToolIcon.select.active{background-position: -40px -120px; }
#OneMap .OneMap_ToolIcon.draw { background-position: 0px -160px; }
#OneMap .OneMap_ToolIcon.draw:hover { background-position: -40px -160px; }
#OneMap .OneMap_ToolIcon.draw.active { background-position: -40px -160px; }
#OneMap .OneMap_ToolIcon.draw_point { background-position: -80px -160px; }
#OneMap .OneMap_ToolIcon.draw_point:hover { background-position: -120px -160px; }
#OneMap .OneMap_ToolIcon.draw_line { background-position: -160px -160px; }
#OneMap .OneMap_ToolIcon.draw_line:hover { background-position: -200px -160px; }
#OneMap .OneMap_ToolIcon.draw_polygon { background-position: -240px -160px; }
#OneMap .OneMap_ToolIcon.draw_polygon:hover { background-position: -280px -160px; }
#OneMap .OneMap_ToolIcon.clear { background-position: 0px -200px; }
#OneMap .OneMap_ToolIcon.clear:hover { background-position: -40px -200px; }
#OneMap .OneMap_ToolIcon.clear.active { background-position: -40px -200px; }
#OneMap .OneMap_ToolIcon.click { background-position: 0px -240px; }
#OneMap .OneMap_ToolIcon.click:hover { background-position: -40px -240px; }
#OneMap .OneMap_ToolIcon.click.active { background-position: -40px -240px; }
#OneMap .OneMap_ToolIcon.click_one { background-position: -80px -240px; }
#OneMap .OneMap_ToolIcon.click_one:hover { background-position: -120px -240px; }
#OneMap .OneMap_ToolIcon.click_more { background-position: -160px -240px; }
#OneMap .OneMap_ToolIcon.click_more:hover { background-position: -200px -240px; }
#OneMap .OneMap_ToolIcon.sign { background-position: 0px -280px; }
#OneMap .OneMap_ToolIcon.sign:hover { background-position: -40px -280px; }
#OneMap .OneMap_ToolIcon.sign.active { background-position: -40px -280px; }
#OneMap .OneMap_ToolIcon.split { background-position: 0px -320px; }
#OneMap .OneMap_ToolIcon.split:hover { background-position: -40px -320px; }
#OneMap .OneMap_ToolIcon.split.active { background-position: -40px -320px; }
#OneMap .OneMap_ToolIcon.double { background-position: 0px -360px; }
#OneMap .OneMap_ToolIcon.double:hover { background-position: -40px -360px; }
#OneMap .OneMap_ToolIcon.double.active { background-position: -40px -360px; }
#OneMap .OneMap_ToolIcon.download { background-position: 0px -400px; }
#OneMap .OneMap_ToolIcon.download:hover { background-position: -40px -400px; }
#OneMap .OneMap_ToolIcon.download.active { background-position: -40px -400px; }
#OneMap .OneMap_ToolIcon.upMap { background-position: 0px -440px; }
#OneMap .OneMap_ToolIcon.upMap:hover { background-position: -40px -440px; }
#OneMap .OneMap_ToolIcon.upMap.active { background-position: -40px -440px; }
#OneMap .OneMap_ToolIcon.position { background-position: 0px -480px; }
#OneMap .OneMap_ToolIcon.position:hover { background-position: -40px -480px; }
#OneMap .OneMap_ToolIcon.position.active { background-position: -40px -480px; }
#OneMap .OneMap_ToolIcon.export { background-position: 0px -520px; }
#OneMap .OneMap_ToolIcon.export:hover { background-position: -40px -520px; }
#OneMap .OneMap_ToolIcon.export.active { background-position: -40px -520px; }
#OneMap .OneMap_ToolIcon.export_txt { background-position: -80px -520px; }
#OneMap .OneMap_ToolIcon.export_txt:hover { background-position: -120px -520px; }
#OneMap .OneMap_ToolIcon.export_vector { background-position: -160px -520px; }
#OneMap .OneMap_ToolIcon.export_vector:hover { background-position: -200px -520px; }
#OneMap .OneMap_ToolIcon.transition { background-position: 0px -560px; }
#OneMap .OneMap_ToolIcon.transition:hover { background-position: -40px -560px; }
#OneMap .OneMap_ToolIcon.transition.active { background-position: -40px -560px; }
#OneMap .OneMap_ToolIcon.earth { background-position: 0px -600px; }
#OneMap .OneMap_ToolIcon.earth:hover { background-position: -40px -600px; }
#OneMap .OneMap_ToolIcon.earth.active { background-position: -40px -600px; }
#OneMap .OneMap_ToolIcon.swiper { background-position: 0px -640px; }
#OneMap .OneMap_ToolIcon.swiper:hover { background-position: -40px -640px; }
#OneMap .OneMap_ToolIcon.swiper.active { background-position: -40px -640px; }
#OneMap .iconfont.boundary{display: inline-block;position: relative;/**top: -12px;**/top:8px;left: 9px;font-size: 20px;cursor: pointer;color: #696969;}
#OneMap .iconfont.boundary:hover { color: rgba(29, 72, 141, 1)}
#OneMap .iconfont.boundary.active { color: rgba(29, 72, 141, 1)}
/* .OneMap_contentMap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #ccc; background: url(../../../../static/img/u24.jpg);} */
#OneMapBox .OneMap_contentMap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;}
#mapTop,#mapBusinessTop {position: absolute;top: 0;bottom: 0;width: 100%;height: 100%;z-index: 66;pointer-events: none;}
.OneMap_mapDemu { position: absolute; left: 400px; width: 500px; top: 100px; bottom: 300px; background: #aaa; overflow: scroll;}

.OneMap_MainMenu { position: absolute;z-index: 999; width: 50px; left: 0; bottom: 0; background: rgba(29, 72, 141, .95); top: 55px; }
.OneMap_MainMenu .OneMap_MainMenu_item { width: 50px; height: 25px; padding: 27px 0; cursor: pointer; }
.OneMap_MainMenu .OneMap_MainMenu_item:hover { background: rgba(4, 52, 124, 0.5); }
.OneMap_MainMenu .OneMap_MainMenu_item.active { background: #04357D; }
.OneMap_MainMenu .OneMap_MainMenu_item i { display: block; width: 25px; transform: scale(1); height: 25px; margin: 0 0 0 12px; background-image: url(../../../../../../public/static/img/oneMap_mine_menu.png); background-repeat: no-repeat; }
.OneMap_MainMenu .OneMap_MainMenu_item i.MapSource { background-position: 0px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.TopicAnalyse { background-position: -50px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.AnalyseHistory { background-position: -100px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.DatumStatistics { background-position: -150px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.DatumShow { background-position: -200px 0px; }
/* .OneMap_MainMenu .OneMap_MainMenu_item i.MapSearch { background-position: -250px 0px; } */
.OneMap_MainMenu .OneMap_MainMenu_item i.BusinessQueries { background-position: -250px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.oneMapForBusiness { background-position: -100px 0px; }

.OneMap_ButtonBar { position: absolute; bottom: 0; /**height: 25px;**/ left:50px ; right: 0; /*background: rgba(29, 72, 141, .95);**/   color: #f2f2f2; font-size: 12px;  line-height: 25px;}
.OneMap_ButtonBar .OneMap_ButtonBar_timer { float: right; margin: 0 10px 0 0; }
.OneMap_ButtonBar .OneMap_ButtonBar_position { float: left; margin: 0 0 0 10px; }

.OneMap_Header { position: absolute; top: 0; user-select: none; height: 55px; left:0px ; right: 0; background: rgba(29, 72, 141, .95); }
.OneMap_Header .OneMap_Logo { height: 55px; float: left; }
.OneMap_Header .OneMap_Logo img { height: 100%; margin: 0 0 0 -12px; }
.OneMap_Header .OneMap_userinfo { float: right; position: relative; height: 55px; line-height: 50px; padding: 0 15px 0 20px; transition: all 0.1s;}
.OneMap_Header .OneMap_headerImage { width: 35px; height: 35px; vertical-align: middle; margin: 0 10px 0 0; }

.OneMap_username { display: inline-block; vertical-align: middle; color: #fff; }
.OneMap_username span { margin: 0 10px 0 0;}

.OneMap_userinfo:hover { background: rgba(4, 52, 124, 0.5); cursor: pointer;}
.OneMap_userinfo:hover i { transform: rotateZ(180deg);}
.OneMap_userinfo i { transition: all 0.3s;}
.OneMap_userinfo_poperMenu { position: absolute; display: none; top: 42px; width: 100%; right: 0; height: 150px; }
.OneMap_userinfo_poperMenu_box { padding: 10px 0;  position: absolute; background: #fff; width: 120px; right: 10px; top: 15px; border-radius: 5px; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
.OneMap_userinfo_poperMenu_box::before { width: 0; display: block; content: ''; height: 0; position: absolute; left: 50px; top: -7px; border-bottom: 8px solid #fff; border-right: 8px solid transparent; border-left: 8px solid transparent;}
.OneMap_userinfo_poperMenu_item { text-align: center; font-size: 15px; color: #666; line-height: 40px; cursor: pointer;}
.OneMap_userinfo_poperMenu_item:hover { color: #5294D7; background: #E8F7F6;}
.OneMap_userinfo:hover .OneMap_userinfo_poperMenu { display: block;}

.OneMap_Header .OneMap_docButton { float: right; width: 55px; height: 55px; overflow: hidden; cursor: pointer; transition: all 0.1s;}
.OneMap_Header .OneMap_docButton:hover {  background: rgba(4, 52, 124, 0.5); }
.OneMap_Header .OneMap_docButton img { width: 30px; height: 30px; margin: 13px;}
.OneMap_Header .OneMap_Header_timer { line-height: 55px; padding: 0 15px; float: right; color: #fff;}

.OneMap_LeftBar { position: absolute;z-index:999; user-select: none; top: 55px; left: 50px; bottom: 0px; width: 0px; background: #fff; transition: all 0.3s; overflow: hidden;}
.OneMap_LeftBar .OneMap_LeftBar_box { position: absolute; width: 300px; height: 100%; overflow: hidden;}
.OneMap_LeftBar .OneMap_LeftBar_SubBox { position: absolute; width: 300px; height: 90px; top: 0; left: 0; z-index: 4;}
.OneMap_LeftBar .OneMap_LeftBar_carouselBox {position: absolute; width: 300px; bottom: 0; top: 0px; }
.OneMap_LeftBar .OneMap_LeftBar_carousel_progress { position: absolute; text-align: center; height: 45px; width: 300px; left: 0; bottom: 0;}
.OneMap_LeftBar .OneMap_LeftBar_carousel_layout {position: absolute; bottom: 45px; width: 300px; left: 0; top: 0; transition: all 0.3s; }
.OneMap_LeftBar .OneMap_LeftBar_SubBox { overflow:hidden; transition: all 0.3s; background: #fff; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);}
.OneMap_LeftBar .OneMap_LeftBar_clearButton { position: absolute; z-index: 11; width: 45px; color: #04357D; height: 45px; bottom: -45px; right: 0; text-align: center; line-height: 45px; font-size: 18px; cursor: pointer;}

.OneMap_LeftBar .OneMap_LeftBar_Sub_Item { width: 75px; height: 90px; float: left; cursor: pointer; position: relative;}
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item::before { position: absolute; content: ''; height: 3px; width: 100%; background: #04357D; transition: all 0.2s; transform: scale(0,1); bottom: 1px; }
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item.active::before {transform: scale(1,1);  }
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_icon { width: 35px; height: 35px; border-radius: 50%; margin: 8px auto 0 auto; }
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_name { font-size: 14px;  text-align: center; line-height: 45px; width: 100%;  }
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_icon { text-align: center; line-height: 45px; opacity: 0.5; transition: all 0.3s;}
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_icon .icon { color: #fff; width: 23px; height: 23px; display: inline-block;vertical-align: 0;}
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item:hover .OneMap_LeftBar_Sub_Item_icon { opacity: 1;}
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item.active .OneMap_LeftBar_Sub_Item_icon { opacity: 1;}

.OneMap_LeftBar .OneMap_LeftBar_carousel_progress_item { width: 40px; height: 45px; display: inline-block; }
.OneMap_LeftBar .OneMap_LeftBar_carousel_progress_item::before { cursor: pointer; content: ''; display: block; width: 8px; height: 8px; margin: 17px auto 0 auto; border-radius: 50%; background: #D7D7D7; }
.OneMap_LeftBar .OneMap_LeftBar_carousel_progress_item.active::before { background: #04357D;}
.OneMap_LeftBar .OneMap_LeftBar_carousel_item_box { height: 100%; width: 300px; float: left; position: relative; }

.tree_slider_layout{position: absolute;top: 95px;left: 5px;right: 5px; bottom: 5px; /**overflow-x: hidden;overflow-y: scroll;**/ padding: 10px 0;}

/**.OneMap_LeftBar .OneMap_LeftBar_TreeBox { position: absolute; top: 95px; left: 5px; right: 5px; bottom: 5px; overflow-x: hidden; overflow-y: scroll; padding: 10px 0;}**/
.OneMap_LeftBar .OneMap_LeftBar_TreeBox{height: 100%;width: 300px;float: left;position: relative;overflow-y: auto;}
.OneMap_LeftBar .OneMap_Tree_Item { position: relative; transition: all 0.3s; background: #fff;}
.OneMap_LeftBar .OneMap_Tree_Item_name {position: relative; color: #333;  cursor: pointer;  padding: 5px 0; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_line { position: absolute; width: 20px; top: 0px; left: 0; bottom: 0; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_line::after { position: absolute; content: ''; border-left: 1px dotted #999; display: block; width: 2px; top: 0; left: 9px; bottom: 0; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_line::before { position: absolute; content: ''; border-top: 1px dotted #999; display: block; width: 10px; height: 2px; top: 20px; left: 9px; right: 0; }

.OneMap_LeftBar .OneMap_LeftBar_TreeBox .OneMap_Tree_Item:first-child > .OneMap_Tree_Item_line::after { top: -35px;}
.OneMap_LeftBar .OneMap_LeftBar_TreeBox > .OneMap_Tree_Item:first-child > .OneMap_Tree_Item_line::after { top: 20px;}
.OneMap_LeftBar .OneMap_LeftBar_TreeBox .OneMap_Tree_Item:last-child > .OneMap_Tree_Item_line::after { bottom: 25px;}

.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_checkBox { position: absolute; background: #fff; z-index: 3; width: 20px; height: 20px; top: 10px; left: 20px;}
.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_icon { position: absolute;  width: 20px; text-align: center; height: 30px; top: 9px; left: 40px;}
.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_button { position: absolute; width: 60px; height: 30px; top: 9px; right: 0; z-index: 3; background: rgba(255, 255, 255, 0.8); box-shadow: 0 0 5px #fff; }
.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_itemName { padding:5px 10px 5px 60px; font-size: 14px; word-break: break-all; word-wrap : break-word; line-height: 25px; max-height: 50px; overflow: hidden;  }
.OneMap_LeftBar .OneMap_Tree_Item.__folder > .OneMap_Tree_Item_name > .OneMap_Tree_Item_itemName  { padding: 5px 10px 5px 75px; }
.OneMap_LeftBar .OneMap_Tree_Item.__folder > .OneMap_Tree_Item_name > .OneMap_Tree_Item_icon { top: 10px; left: 45px; color: #1296DB;}
.OneMap_LeftBar .OneMap_Tree_Folder_switch { color: #aaa; width: 20px; height: 20px; text-align: center; line-height: 20px; position: absolute; top: 12px; left: -1px; background: #fff; z-index: 3;}

.OneMap_LeftBar .OneMap_Tree_Item_name .layui-form-checkbox[lay-skin=primary] { padding-left: 10px; vertical-align: middle; margin: -3px 0 0 0;}
.OneMap_LeftBar .OneMap_Tree_Item_name .fa.fa-circle { color: #999; margin: 0 2px 0 0; transform: scale(0.5); }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button { width: 30px; height: 30px; line-height: 30px; color: #999; text-align: center; position: absolute; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button._MapSymbol { left: 0;}
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button._MapOpacity { left: 30px; font-size: 20px; line-height: 17px;}
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button:hover { color: #1296DB;}
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_MapOpacityEle { user-select: none; height: 100px; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); transition: all 0.3s; position: absolute; opacity: 0; right: 5px; width: 260px; background: #fff;}
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_name { display: inline-block; vertical-align: middle; line-height: 45px; width: 80px; text-align: right; font-size: 14px; color: #666; }
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider { display: inline-block; position: relative; vertical-align: middle; line-height: 45px; height: 45px; width: 170px; }
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_line { width: 120px; cursor: pointer; height: 5px; border-radius: 50px; background: #ddd; position: absolute; left: 5px; top: 20px; }
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_point { width: 7px; height: 7px; position: absolute; left: 100%; cursor: pointer; border: 2px solid #999; border-radius: 50%; top: -3px; margin: 0 0 0 -6px; background: #fff;}
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_leftLine { height: 100%; background: #1296DB; width: 100%; }
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_value { position: absolute; line-height: 45px; color: #666; right: 0; width: 40px; font-size: 14px;}
.OneMap_LeftBar .OneMap_LeftBar_TreeBox_mark { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;}

.OneMap_LeftBar .OneMap_TopicAnalyse_content { position: absolute; top: 90px; left: 0; right: 0; bottom: 0; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_TopicAnalyse_Item { padding: 20px; height: 80px; position: relative; border-bottom: 1px solid #ccc; cursor: pointer; }
.OneMap_LeftBar .OneMap_TopicAnalyse_Item .OneMap_TopicAnalyse_Icon { width: 50px; height: 50px; background: url(../../../../../../public/static/img/AnalyseIcon.png); background-size: 100% 100%;}
.OneMap_LeftBar .OneMap_TopicAnalyse_Item .OneMap_TopicAnalyse_Title { position: absolute; left: 80px; right: 20px; top: 20px;  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.OneMap_LeftBar .OneMap_TopicAnalyse_Item .OneMap_TopicAnalyse_Des { position: absolute; left: 80px; right: 20px; top: 50px; height: 55px; font-size: 14px; color: #666;    display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}

.OneMap_LeftBar .OneMap_AnalyseHistory_content { top: 0; width: 100%; bottom: 0; position: absolute; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_AnalyseHistory_Item { padding: 20px; height: 50px; position: relative; border-bottom: 1px solid #ccc; cursor: pointer; }
.OneMap_LeftBar .OneMap_AnalyseHistory_Item .OneMap_AnalyseHistory_Icon { width: 50px; height: 50px; background: url(../../../../../../public/static/img/AnalyseIcon.png); background-size: 100% 100%;}
.OneMap_LeftBar .OneMap_AnalyseHistory_Item .OneMap_AnalyseHistory_Title { position: absolute; left: 80px; right: 20px; top: 20px;  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.OneMap_LeftBar .OneMap_AnalyseHistory_Item .OneMap_AnalyseHistory_Des { position: absolute; left: 80px; right: 20px; top: 50px;  overflow: hidden; height: 55px; font-size: 12px; color: #999;}

.OneMap_LeftBar .OneMap_DatumStatistics_content { top: 0; width: 100%; bottom: 0; position: absolute; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_Statistic_Item { width: 100px; float: left; height: 100px; margin: 20px; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3) ; }
.OneMap_LeftBar .OneMap_Statistic_Item .OneMap_Statistic_Icon { width: 50px; height: 50px; margin: 10px auto 0 auto; background: url(../../../../../../public/static/img/statisticsIcon.png); background-size: 100% 100%;}
.OneMap_LeftBar .OneMap_Statistic_Item .OneMap_Statistic_Title { color: #666; font-size: 14px; height: 38px; overflow: hidden; text-align: center; width: 90px; margin: 0 auto;}

.OneMap_LeftBar .OneMap_Search_Tab { position: absolute; height: 45px;  width: 100%; overflow: hidden; border-bottom: 1px solid #ccc;}
.OneMap_LeftBar .OneMap_Search_Content { position: absolute; top: 50px; bottom: 0; width: 100%; overflow:hidden; }

.OneMap_LeftBar .OneMap_Search_Select { position: absolute; height: 45px;  width: 100%; overflow: hidden; border-bottom: 1px solid #ccc; line-height: 45px; }
.OneMap_LeftBar .OneMap_Search_Select_name { float: left; text-align: center; color: #5294d7; padding: 0 0 0 15px; }
.OneMap_LeftBar .OneMap_Search_Select_name i { margin: 0 10px 0 0 ;}
.OneMap_LeftBar .OneMap_Search_Select_more { float: right; padding: 0 15px; cursor: pointer; color: #666; border-left: 1px solid #ccc; font-size: 14px; }
.OneMap_LeftBar .OneMap_Search_Select_more:hover { color: #1296DB; }
.OneMap_LeftBar .OneMap_Search_Select_Box { position: absolute; background: #fff; top: 46px; width: 100%; z-index: 6; height: 90px; border-bottom: 1px solid #eee; overflow: hidden ;}
.OneMap_LeftBar .OneMap_Search_Select_Box.hide { display: none; }
.OneMap_LeftBar .OneMap_Search_Select_Item { line-height: 45px; cursor: pointer; border-bottom: 1px solid #eee;margin: 0 0 -1px 0; padding: 0 0 0 15px; color: #999; }
.OneMap_LeftBar .OneMap_Search_Select_Item i { margin: 0 10px 0 0;}
.OneMap_LeftBar .OneMap_Search_Select_Item:hover { background: rgba(82, 148, 215, .1);}
.OneMap_LeftBar .OneMap_Search_Select_Item.active { color: #1296DB;  }
.OneMap_LeftBar .OneMap_Search_Content_Point { position: absolute; top: 0; width: 100%; height: 100%; left: 0; overflow:hidden;}
.OneMap_LeftBar .OneMap_Search_Content_Custom { position: absolute; top: 0; width: 100%; height: 100%; left: 0; overflow:hidden;}

.OneMap_LeftBar .OneMap_Search_Content_Point_input { position: relative; height: 55px; }
.OneMap_LeftBar .OneMap_Search_Content_Point_inputElementBox { position: absolute; left: 10px; top:10px; right: 102px; height: 30px;  }
.OneMap_LeftBar .OneMap_Search_Content_Point_inputEle { position: absolute; width: 100%; color: #666; height: 100%; border: 1px solid #ddd; outline: none; padding: 0 30px 0 10px; line-height: 30px;}
.OneMap_LeftBar .OneMap_Search_Content_Point_input_button { position: absolute; text-align: center; top: 10px; cursor: pointer; right: 10px; width: 50px; background: rgba(29, 72, 141, .95); height: 32px;}
.OneMap_LeftBar .OneMap_Search_Content_Point_input_button { color: #fff; line-height: 30px; }

.OneMap_LeftBar .OneMap_Search_Content_Point_Content { position: absolute; top: 55px; left: 10px; right: 10px; padding: 20px 0; bottom: 10px; border-top: 1px solid #ddd; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_Search_Content_Point_inputEle_clear { position: absolute; color: #333; height: 100%; width: 20px; text-align: center; top: 0; line-height: 30px; right: -35px; cursor: pointer;}
.OneMap_LeftBar .OneMap_Search_Content_Point_History span { color: #666; }
.OneMap_LeftBar .OneMap_Search_History_Item { line-height: 35px; color: #999; cursor: pointer; padding: 0 10px; position: relative; }
.OneMap_LeftBar .OneMap_Search_History_Item i { margin: 0 10px 0 0; }
.OneMap_LeftBar .OneMap_Search_History_Item span { position: absolute; left: 30px; right: 0; height: 35px; line-height: 35px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }

.OneMap_LeftBar .OneMap_Search_Point_Item { line-height: 35px; color: #666; cursor: pointer; padding: 0 10px; position: relative; }
.OneMap_LeftBar .OneMap_Search_Point_Item i { margin: 0 10px 0 0; }
.OneMap_LeftBar .OneMap_Search_Point_Item span { position: absolute; left: 30px; right: 0; height: 35px; line-height: 35px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
.OneMap_LeftBar .OneMap_Search_Content_Point_Content .OneMap_LeftBar_clearButton { bottom: 0;}

.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox { right: 60px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_input_button { right: 10px; height: 30px;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_Content { top: 90px;  }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_input { height: 90px;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub { position: absolute; left: 10px; top:50px; right: 40px; height: 30px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub .OneMap_Search_Content_Point_inputEle { border: none; font-size: 14px; color: #666; border-bottom: 1px solid #ddd; padding: 0 10px 0 20px;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub i { position: absolute; left: 0; top: 7px; color: #5294D7;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub i.fa-trash-o { right: -30px; width: 30px; left: auto; cursor: pointer; height: 30px; z-index: 5; line-height: 30px; top: 0; text-align: center;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_History_Item { height: 60px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_History_Item .OneMap_Search_History_Type{ top: 0px; height: 30px; line-height: 30px; left: 35px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_History_Item .OneMap_Search_History_Name{ top: 28px; height: 30px; line-height: 30px;  left: 35px;}

.OneMap_MapSymbol { position: absolute;z-index: 9999; bottom: 0px; width: 260px; height: 350px; right: 0; transition: all 0.3s; opacity: 1; transform: translateY(0px); }
.OneMap_MapSymbol .OneMap_MapSymbol_content { position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; overflow-x: hidden; }
.OneMap_MapSymbol .OneMap_MapSymbol_SymbolTitle {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; color: #333; /**height: 35px; line-height: 35px;**/ }
.OneMap_MapSymbol .OneMap_MapSymbol_SymbolContent { padding: 5px 0 0 20px; overflow-x: hidden; overflow-y: auto; position: absolute; bottom: 10px; left: 0px;right: 0px; top: 40px;}
.OneMap_MapSymbol .OneMap_SymbolItem { position: relative; line-height: 22px; color: #333; margin-bottom: 10px;}
.OneMap_MapSymbol .OneMap_SymbolImage { display: inline-block; width: 30px; vertical-align: middle;}
.OneMap_MapSymbol .OneMap_SymbolText { /**position: absolute; left: 40px; right: 0; height: 22px;**/display: inline-block;vertical-align: middle;margin-left: 10px; color: #333; line-height: 22px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.OneMap_MapSymbol.hide { opacity: 0; transform: translateY(100px); display: none;}

.OneMap_dialog .OneMap_dialog_title {height: 35px; color: #fff; background: rgba(29, 72, 141, .95); line-height: 35px; padding: 0 0 0 10px; font-size: 14px; }
.OneMap_dialog .OneMap_dialog_title .OneMap_dialog_close { color: #fff; float: right; width: 35px; height: 35px; cursor: pointer; text-align: center;}
.OneMap_dialog .OneMap_dialog_body { top: 35px; position: absolute; width: 100%; bottom: 0; background: #fff;}

.OneMap_Analyse { position: absolute; bottom: 0px; left: 50px; right: 0px; height: 350px; background: #fff; transition: all 0.3s;z-index: 99;}
#OneMap .OneMap_Analyse.hide { opacity: 0; transform: translateY(100px); display: none;}

.OneMap_MapTool { position: absolute; z-index:999;top: 40px; /**width: 1px;**/ right: 20px; height: 300px; background: #fff; }
.mapboxgl-ctrl-top-left,.mapboxgl-ctrl-bottom-left{display: none;}
.OneMap_MapTool .OneMap_left_box_swith { width: 40px; height: 40px; position: absolute; left: -42px; border-radius: 3px; background:#fff; }
.OneMap_MapTool .OneMap_top_line { background:#fff; height: 40px; width: 200px; left: -260px; position: absolute; border-bottom: 1px solid #ddd;}

.OneMap_MapTool .OneMap_zoom_box { width: 40px; position: absolute; top: 46px; left: -42px; border-radius: 3px; background:#fff; cursor: pointer;}
.OneMap_MapTool .OneMap_zoom_box .OneMap_zoom_in{text-align: center;border-bottom: 1px #ddd solid;padding: 10px 0;}
.OneMap_MapTool .OneMap_zoom_box .OneMap_zoom_out{text-align: center;padding: 10px 0;}

.OneMap_MapTool .OneMap_button_line {background:#fff; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); transition: all 0.3s; padding-top: 40px; height: 0px; top: 0px; width: 200px; left: -260px; position: absolute; }
.OneMap_MapTool .OneMap_button_line::after { content: ''; display: block; position: absolute; width: 100%; height: 1px; border-top: 1px solid #ddd; top: 82px;}
.OneMap_MapTool .OneMap_button_line::before { content: ''; display: block; position: absolute; width: 100%; height: 1px; border-top: 1px solid #ddd; top: 126px;}
.OneMap_MapTool .toolMenu{position: absolute;z-index:999;top: 60px;width: 124px;left: 50%;margin-left: -60px;padding: 10px;background: #fff;box-shadow: 0 1px 1px #ddd;text-align: center;}
.OneMap_MapTool .toolMenu.areacodeList{transform: scale(0.7);top: 12px;}
#OneMap .OneMap_MapTool .toolMenu.areacodeList .OneMap_ToolIcon{background-image: none;font-size: 28px;color: #888888;}
 .OneMap_MapTool .toolMenuli{padding: 10px;font-size: 17px;}

.OneMap_MapTool .toolMenu.chose{left: -214px;width: 96px;top: 68px;transform: scale(0.7)}
.OneMap_MapTool .toolMenu.splitScreen{left: -120px;width: 96px;top: 68px;transform: scale(0.7)}
.OneMap_MapTool .toolMenu.chose li{cursor: pointer;}
.OneMap_MapTool .toolMenu.chose li:hover{color:#5294D7;}
.OneMap_MapTool .toolMenu li:hover{background: #E8F7F6;color: #5294D7;}
#OneMap .sign_icon{background-position: -40px -280px;color: red;font-size: 18px;text-align: center;}

.OneMap_MapTool .toolMenu .measur-line .icon{background-position: -160px -160px;}
.OneMap_MapTool .toolMenu .meaur-face .icon{background-position: -240px -160px;}
.OneMap_MapTool .toolMenu .ponit .icon{background-position: -80px -160px;}
.OneMap_MapTool .toolMenu .line .icon{background-position: -160px -160px;}
.OneMap_MapTool .toolMenu .face .icon{background-position: -240px -160px;}
.OneMap_MapTool .toolMenu .radio .icon{background-position: -80px -240px;}
.OneMap_MapTool .toolMenu .check .icon{background-position: -160px -240px;}
.OneMap_MapTool .toolMenu .txt .icon{background-position: -80px -520px;}
.OneMap_MapTool .toolMenu .vector .icon{background-position: -160px -520px;}
.OneMap_MapTool .toolMenu li{padding: 4px 0;}
.OneMap_MapTool .toolMenu li span{display: inline-block;vertical-align: middle;}
.dis-tooltip {/**position: absolute;top: 36px;left: 6px;**/background: rgba(0, 0, 0, 0.5);text-align: center;border-radius: 4px;color: white;padding: 4px 8px;opacity: 0.7;white-space: nowrap;}

#OneMap .sign_box{width: 270px;margin-top: 20px;}
#OneMap .mapboxgl-popup-close-button{font-size: 26px;padding: 10px;}
.sign_button{text-align: right;}
.sign_button button{padding: 4px 11px;border: none;outline-style: none;}
.sign_button .ok{margin-right:10px;background: #1296DB;color: #fff;}
.sign_button .cancle{border: solid #ddd 1px;}

#OneMapDouble { position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden;z-index: 999;}

#OneMapDouble .OneMap_contentMap {position: absolute; top: 0; left: 0; right: 0; bottom: 0;width: 100%; height: 100%;}
#OneMapDouble .OneMap_LeftBar{left: 0px;top: 0px;bottom: 0px;}
#OneMapDouble .barButtonBox{position: absolute;top: 76px;left: 320px;}
#OneMapDouble .barButtonBox .bar-side{padding: 13px;background: #fff;margin-bottom: 20px;text-align: center;}
#OneMapDouble .barButtonBox .bar-side:hover{color: #5294D7;}
#OneMapDouble .barButtonBox .sideIcon{font-size: 18px;}
#OneMapDouble .barButtonBox .bar-close{padding: 13px;background: #fff;text-align: center;}
#OneMapDouble .barButtonBox .bar-close:hover{color: #5294D7;}

/* 属性弹层 */
.layout-popup {position: absolute;z-index: 9999999;/* width: 100%;height: 100%; */}
.layout-popup .layout-dialog-title {cursor: move;user-select: none;height: 40px;width: 100%;background: rgba(29, 72, 141, .95);position: absolute;}
.layout-popup .layout-dialog-title span {line-height: 40px;padding: 0 0 0 10px;color: #fff;font-size: 16px;}
.layout-popup .layout-dialog-close {cursor: pointer;font-size: 20px;line-height: 40px;text-align: center;position: absolute;width: 40px;height: 40px;top: 0;right: 0;color: #fff;font-weight: bold;}
.layout-popup .layout-dialog-wrapper .layout-dialog-box{position: fixed;background: #fff;}
.layout-popup .layout-dialog-wrapper .layout-dialog-body {padding: 15px 0;position: absolute;top: 40px;width: 100%;bottom: 0;overflow-y: auto;overflow-x: hidden;}

/* tab */
.wdd-tab-wrapper{/* width: 100%; */}
.wdd-tab-wrapper .wdd-tab-ul{overflow: hidden;border-bottom: solid 1px #ddd;}
.wdd-tab-wrapper .wdd-tab-ul li{float: left;padding: 6px 10px;text-align: center;border-right: 1px solid #ddd;}
.wdd-tab-wrapper .wdd-tab-ul .active {background: #e0f1fa;color: #333333;}
.wdd-show {display: block !important;}
.wdd-tab-wrapper .wdd-tab-ul .active:after {border: none;background: #333;color: #fff}
.wdd-tab-wrapper  .wdd-tab-box .wdd-tab-item{display: none;}
.wdd-tab-wrapper .wdd-tab-box .tab-item li {width: 50%;float: left;cursor: pointer;}

/* selesct */
.wdd-select {display: inline-block;width: 100%;position: relative;vertical-align: middle;padding: 0;overflow: hidden;background-color: #fff;color: #555;border: 1px solid #aaa;text-shadow: none;border-radius: 4px;	transition: box-shadow 0.25s ease;z-index: 2;}
.wdd-select:hover {box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);}

.wdd-select:before {content: "";position: absolute;width: 0;height: 0;border: 10px solid transparent;border-top-color: #ccc;top: 14px;right: 10px;cursor: pointer;z-index: -2;}
.wdd-select select {cursor: pointer;padding: 6px;width: 100%;border: none;background: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;}
.wdd-select select:focus {outline: none;}

#OneMap .district-padd{padding: 0 16px;}
/* search */
.district_input .inputs{width: 100%;height: 36px;outline-style: none;border:none;border-bottom: 1px #ddd solid;}
.district_input .district_ul{height: 100px;overflow-y: auto;box-shadow: 0 1px 4px #ddd;background: #fff;}
.district_input .district_ul li{padding: 10px 16px;cursor: pointer;}
.district_input .district_ul li:hover{color: #1296DB;}

.district-city{position: relative;}
.district-city .city-list-box span{display: inline-block;padding:6px 10px;cursor: pointer;}
.district-city .district_city_icon{position: absolute;top:2px;left:-2px;color: #1296DB;}
.district-city .city-list-box span:hover{color: #1296DB;}
.district-city .levelClass{margin: 16px 0 20px 20px;}
.district-city .city-list-title{border-bottom: solid 1px #ddd;padding-bottom: 10px;}
.district-city .levelClass span:last-child{display: none;}
.district-city .levelClass span{color: #1296DB;cursor: pointer;}
.district-city .levelClass .arrow{padding:0 10px;}

#OneMap .mapboxgl-compare .compare-swiper-vertical{width: 50px;height: 50px;background-size: 100% 100%;left: -25px;}
select{border-color: #D7D7D7;}
.wdd-tab-box .code-table{/**height: 116px; overflow-y: auto;**/position: relative;}
.wdd-tab-box .code-table-coor{height: 240px; overflow-y: auto;}
.table-xy{overflow: auto;width: 96.5%;height: 190px;padding: 10px;}
.wdd-btn:not(:disabled):not(.disabled) {cursor: pointer;}
.btn{width: 85px;margin-bottom: 3px!important;}
.wdd-btn-sm {height: 32px;line-height: 32px;padding: 0 10px;font-size: 12px;}
.wdd-file-wrapper .wdd-btn-primary {color: #fff;background-color: #188ae2;border-color: #188ae2;}
.wdd-btn {margin-bottom: 15px;margin-right: 15px;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;user-select: none;border: 1px solid transparent;border-radius: 0.15rem;outline: none;-webkit-appearance: none;transition: all .3s;-webkit-transition: all .3s;box-sizing: border-box;background: #009688;color: #fff;}
.wdd-btn-analysis {margin-right: 15px;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;user-select: none;border: 1px solid transparent;border-radius: 0.15rem;outline: none;-webkit-appearance: none;transition: all .3s;-webkit-transition: all .3s;box-sizing: border-box;background: #009688;color: #fff;}
.wdd-file-wrapper{padding:0 10px;}
.analysis-file-wrapper .wdd-btn-primary {color: #fff;background-color: #188ae2;border-color: #188ae2;}
.wdd-file-wrapper .top{margin: 10px 0px;}
.layout-dialog-body .shaw_select{width: 100%;height: 30px;}
.layout-dialog-body .select_GSC{margin-bottom: 15px;}
.layout-dialog-body .select_GSC .change_CSC{position: absolute;right: 10px;}
.layout-dialog-body .layout_foot_button{position: absolute;bottom: 0px;left: 0px;right: 0px;text-align: center;padding-top: 20px;border-top: 1px #ddd solid;}
#changeXY .OneMap_ToolIcon{background-image: url(../../../../../../public/static/img/OneMapToolIcon.png); transform: scale(0.7); cursor: pointer; width: 40px; height: 40px; display: inline-block; background-repeat:no-repeat;}
#changeXY .OneMap_ToolIcon.transition {background-position: 0px -560px;}
.map-body::-webkit-scrollbar,.layui-body::-webkit-scrollbar {display: none!important;}
.layout-template-view::-webkit-scrollbar {display: none!important;}
.file-btn{margin: 10px 0}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/content: "";display: block;height: 0;clear:both;visibility: hidden;}
.clearfix{*zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/}
#OneMap .mapboxgl-ctrl.mapboxgl-ctrl-scale{display: none;}
/*  */
#OneMap .transform-left{float: left; width: 50%;}

/* 时间轴 */
.side_box{position: absolute;bottom: 30px;right: 30px;left: 74%;/**transform: translateX(-50%);**/z-index: 9999;}
.side_box .box{height: 142px;width: 100%;background: rgba(255,255,255,1); box-shadow: 0 1px 4px #ddd;}
.side_box .box .box_item_box{position: relative;top: 8px;}
.side_box .box .box_item_box::before{content: "";height: 1px;width: 100%;background: #D7D7D7;position: absolute;z-index: 1;top: 50%;margin-top: 22px;}
.side_box .box .box_item_box .side_item{display: inline-block;padding: 10px;text-align: center;vertical-align: middle;position: relative;}
.side_box .box .box_item_box .side_item .side_circle{position: absolute;left: 50%;transform: translateX(-50%);border: 2px #bdd1dc solid;background: #1296DB;width: 12px;height: 12px;border-radius: 50%;z-index: 1;}
.side_box .box .box_item_box .side_item .side_circle.active{background:#1296DB;width: 25px;height: 25px;bottom: -13px;}
.side_box .box .box_item_box .side_item .side_timer{padding-bottom: 10px;color: #7F7F7F;}
.side_box .box .box_item_box .side_item .side_timer.active{color:#1296DB;font-size: 18px;}
.side_box .box .play,.side_box .box .over{position: absolute;bottom: 20px;left: 10px;cursor: pointer;}
.side_box .box .play span,.side_box .box .over span,.side_box .box .backOut{font-size: 25px;color: #8a8a8a;}
.side_box .box .play span:hover,.side_box .box .over span:hover,.side_box .box .backOut:hover{color: #1296DB;}
.side_box .box .backOut{position: absolute;bottom: 20px;left: 50px;cursor: pointer;}
.side_map_wrapper{position: absolute;top: 0;left: 0;bottom: 0;right: 0;overflow: hidden;z-index: 9999;}
.side_map_wrapper .side_map_box{width: 100%;height: 100%;}
#sideMap  .OneMap_contentMap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;}

/* 打印 */
#webPnfMap{height: 100%;}
#webPnfMap .sidebar-config-wrap {position: relative;top: 0;left: 0;height:100%;/**height: calc(100vh - 120px);**/width: 360px;padding: 20px;background: rgba(29, 72, 141, 1);z-index: 9999;}
#webPnfMap .sidebar-config-wrap .panel-group .panel {border-color: transparent;background: transparent;color: rgba(255, 255, 255, 0.6);}
#webPnfMap .sidebar-config-wrap .panel .panel-heading {color: rgba(255, 255, 255, 0.85);border-color: #383838;position: relative;}
#webPnfMap .sidebar-config-wrap .panel .panel-heading::before {content: "";height: 50%;width: 2px;background: #3394dc;position: absolute;top: 25%;left: 0;display: block;}
#webPnfMap .form-group {overflow: hidden;}
#webPnfMap .sidebar-config-wrap .form-control,.sidebar-config-wrap .btn-group {width: 70%;float: right;}
#webPnfMap .sidebar-config-wrap .form-group label {margin-bottom: 0;line-height: 34px;}
#webPnfMap .sidebar-config-wrap .btn-group {display: block;margin-bottom: 10px;}
#webPnfMap .sidebar-config-wrap .btn-group button {width: 50%;outline: none;}
#webPnfMap .sidebar-config-wrap .btn-group button:focus {outline: none;}
#webPnfMap .sidebar-config-wrap .panel-title a {width: 100%;display: block;text-decoration: none !important;overflow: hidden;color: #fff;}
#webPnfMap .sidebar-config-wrap .panel-title a span.glyphicon {float: right;}
#webPnfMap .sidebar-config-wrap .panel-title a[aria-expanded="true"] .glyphicon-chevron-down {display: none;}
#webPnfMap .sidebar-config-wrap .panel-title a[aria-expanded="false"] .glyphicon-chevron-up {display: none;}
#webPnfMap .sidebar-config-wrap .submit-btn-wrap {position: absolute;bottom: 30px;left: 0;width: 100%;height: 80px;line-height: 80px;border-top: 2px solid #323232;text-align: center;}
#webPnfMap .sidebar-config-wrap #printBtn,
#webPnfMap .sidebar-config-wrap #printBtning,
#webPnfMap .sidebar-config-wrap #printCloseBtn {/**width: 50%;**/}
#webPnfMap .sidebar-config-wrap .progress {margin: 3px auto 0;}
#webPnfMap .panel-group {margin-bottom: 20px;}
#webPnfMap .panel-group .panel {margin-bottom: 0;border-radius: 4px;}
#webPnfMap .panel-default {border-color: #ddd;}
#webPnfMap .panel-default.print_show{display: block;}
#webPnfMap .panel {margin-bottom: 20px;background-color: #fff;border: 1px solid transparent;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05);}
#webPnfMap .panel-heading {padding: 10px 15px;border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;}
#webPnfMap .panel-default>.panel-heading+.panel-collapse>.panel-body {border-top-color: #ddd;}
#webPnfMap .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {border-top: 1px solid #ddd;}
#webPnfMap .panel-body {padding: 15px;}
#webPnfMap .panel-collapse{display: none;}
#webPnfMap .panel-body::before{display: table;content: "";}
#webPnfMap .form-group {margin-bottom: 15px;overflow: hidden;}
#webPnfMap .sidebar-config-wrap .form-group label {margin-bottom: 0;line-height: 34px;display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;}
#webPnfMap .sidebar-config-wrap .form-control, .sidebar-config-wrap .btn-group {width: 70%;float: right;}
#webPnfMap .form-control {display: block;width: 100%; height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
/* #webPnfMap .sidebar-config-wrap #printBtn, .sidebar-config-wrap .progress {width: 80%;} */
#webPnfMap .btn-primary {color: #fff;background-color: #337ab7;border-color: #2e6da4;}
#webPnfMap .sidebar-config-wrap #printCloseBtn{color: #333;background-color: #fff;border-color: #fff;}
#webPnfMap .btn {display: inline-block;padding: 6px 0px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
/* 进度 */
.layout-dialog-mark{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1000;height: 100%;z-index: -1;background-color: rgba(0,0,0,.45);}
.analysis_progress .analysis_content{padding: 16px;}
.analysis_progress .analysis_content .content_top .content_left{width: 50%;display: inline-block;vertical-align: middle;}
.analysis_progress .analysis_content .content_top .content_right{width: 50%;display: inline-block;text-align: right;vertical-align: middle;}
.analysis_progress .progress_box{height: 6px;margin: 16px 0;border-radius: 100px;background-color: #ebeef5;overflow: hidden;position: relative;vertical-align: middle;}
.analysis_progress .progress_box .progress_bar{position: absolute;left: 0;top: 0;height: 100%;background-color: #67c23a;text-align: right;border-radius: 100px;line-height: 1;white-space: nowrap;transition: width .6s ease;}
.analysis_progress .analysis_timing{width: 60px;height: 60px;line-height: 60px;text-align: center;border-radius: 50%;border: 1px #ddd dashed;display: inline-block;vertical-align: middle;}
.analysis_progress .analysis_text{display: inline-block;vertical-align: middle;margin-left: 10px;}
.analysis_progress .content_top{margin-bottom: 20px;}
.analysis_progress .content-bottom{padding: 10px;border: solid 1px #ddd;height: 170px;overflow-y: auto;}
.analysis_progress .content-bottom .result_box{margin-bottom: 10px;}
/*  */
.layer-msg{position: fixed;z-index: 9999999999;left: 0;top: 0;width: 100%;height: 100%;cursor: move;}
.layer-msg .layer-msg-box{position: absolute;padding: 8px 20px;color: #fff;border-radius: 5px;top: 50%;left: 50%;transform: translate(-50%,-50%);background: rgba(0,0,0,0.4);}
/*  */
.mapsetting-content-button {padding: 2px 8px;color: #333;text-decoration: none;cursor: pointer;border-radius: 2px;border: 1px solid #d7d7d7;background-color: transparent;outline: none;}
.mapsetting-content-button:hover {border-color: #5EB7F2;color: #5294D7;}
.mapsetting-content-button.active {border-color: #5EB7F2;color: #5294D7;background: rgba(232, 247, 246, 1);}
.configObjectBox {position: relative;display: flex;align-items: stretch;width: 100%;}
.configObject_Tree {position: relative;width: 30%;height: 230px;overflow-y: auto ;margin: 0 10px 30px 10px;}
.configObject_Pai {position: relative;top:8px;width: 20%;height: 250px;padding: 0 10px;}
.configObject_Table { position: relative;width: 50%;height: 300px;padding: 0 10px;}
.configObject_Table .table-text{color:#666;height: 80%;text-align: center;display: flex;justify-content: center;align-items: center;}
.configObject_treeItem { padding: 3px 10px;}
.configObject_treeItem > .configObject_treeItem_title i {display: inline-block;font-size: 12px; vertical-align: middle; margin:  0 10px 0 0; transition: all 0.3s;transform:rotate(-90deg); cursor: pointer;}
.configObject_treeItem.show > .configObject_treeItem_title i { transform:rotate(0deg);}
.configObject_treeItem .configObject_treeItem_title {cursor: pointer;}
.configObject_treeItem .configObject_treeItem_title.active { color: #3499E5;}
.configObject_treeItem > .configObject_treeItem_children { padding: 0 0 0 10px; display: none;}
.configObject_Pai { position: relative;}
.configObject_Pai_chart { position: absolute; top: 30px; left: -14px; right: 0; bottom: 30px;}
.OneMap_dialog_body .select-wrapper{position: absolute;width: 108px;top: 10px;right: 110px;}
.OneMap_dialog_export{position: absolute;width: 80px;top: 10px;right: 20px; height: 34px;line-height: 34px;border-radius: 3px;border: solid 1px #b3b3b3;text-align: center;cursor: pointer;}
/*  */
.configObjectBox .add-file-table {width: 688px;height: 252px;margin: 0 auto;overflow-y: auto;border-radius: 4px;margin-top: 8px;color:#333;background-color: #fff;/**border: 1px solid #4A4A4A;**/}
.configObjectBox .add-file-table > div {z-index: 1;}.configObjectBox .add-file-table table {height: 252px;}
.configObjectBox .add-file-table table tr:nth-child(odd){background: #f5f5f5;}
.configObjectBox .add-file-table .table-head {width: 100%;text-align: left;font-size: 12px;font-weight: 600;line-height: 34px;background-color: #414141;}
.configObjectBox .add-file-table td,
.configObjectBox .add-file-table th {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;min-height: 37px;padding-left: 9px;padding-right: 9px;line-height: 33px;}
.configObjectBox .add-file-table td {border: 1px solid #d7d7d7;}
/*  */
.paring { text-align: center; user-select: none;}

.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left; font-size: 13px; padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#666;text-decoration:none;background-color:none;border:1px solid #ddd}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#198EF8;background-color:none;border-color:#ddd}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#198EF8;border-color:#3499e5}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#ccc;background-color:none;border-color:#ddd}
.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
/* 打印pdf */
.header-title,.footer-text{font-weight: bold;text-align: center;position: relative;}
.header-title .header_main{display: inline-block;width:50%;text-align: left;font-size: 30px;}
.header-title .header_vice{display: inline-block;width:50%;text-align: right;font-size: 26px;}
.footer-text{text-align: right;font-size: 20px;}
/* 图例 */
.map_symbol i{color: #1296DB;}

/* year */
.year-wrapper{position: absolute;background: #fff;padding: 10px;box-shadow: 0 0 1px #ddd;}
.year-box{width: 222px;}
.year-header{background: #2895EC;padding: 10px 0;color: #fff;}
.year-header input{background: none;border: none;text-align: center;color: #fff;}
.year-blobk{display: inline-block;}
.year-footer{text-align: right;border-top:solid 1px #ddd}
.year-btn{padding-top: 10px;}
.year-list li{display: inline-block;position: relative;width: 33.3%;height: 36px;line-height: 36px;margin: 3px 0;text-align: center;cursor: pointer;}
.year-list li:hover{background: #ddd;}
.year-active{background: #3499E5;color: #fff;}
/* 去除黑框 */
.mapboxgl-canvas{ outline: none; }
.sxTab td{padding: 10px 0;}
.sxTab tr:nth-child(even){background: #f5f5f5;}
/*  */
.OneMap_Tree_Item_checkBox .layui-half-checked>i { border-color: #3eafe0!important;background-color: #3eafe0;}
.layui-half-checked i::before{content: "";position: absolute;display: block;background-color: #fff;height: 2px;transform: scale(.5);left: 0;right: 0;top: 5px;
}

.resultText{width: 100%;text-align: center;padding-top: 110px;}
.tableTab{position: absolute;top: -40px;}

/*  */
.business_slider_layout{position: absolute;top: 95px;left: 5px;right: 5px;bottom: 5px;padding: 10px 0;}
.business_slider_box .attributeContent-box{position: relative;min-height: 300px;margin-top: 16px;}
.business_slider_box .attributeContent-box .layui-form-label{width: 80px !important;padding: 0 0;text-align: left;}
.business_slider_box .attributeContent-box .layui-input-block{margin-left: 80px !important;}
.business_slider_box .attributeContent-box .attribute-more{text-align: center;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);color: #888;}

.business_slider_box .attributeQuery-button-wrapper{text-align: center;}
.business_slider_box .block-list-wrapper{margin-top: 16px;}
.business_slider_box .block-list-clear{position: absolute;right: 0px;top: 18px;}
.business_slider_box .block-list-wrapper .block-content-relative{position: absolute;top: 50px;left: 5px;right: 5px;bottom: 80px;}
.business_slider_box .block-list-wrapper .block-content-relative .block-more{text-align: center;position: absolute;top: 50%;left: 50%;transform: translateX(-50%);color: #888;}
.business_slider_box .block-list-wrapper .block-content-relative .block-content-position{height: 100%;width: 100%;position: relative;overflow-y: auto;text-align: center;}
.business_slider_box .block-item-wrapper .block-item-name{cursor: pointer;}
.business_slider_box .block-list-wrapper .block-footer{position: absolute;bottom: -15px;}
.business_slider_box .block-item-wrapper .block-item-name li{padding: 2px 0;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;position: relative;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.business_slider_box .block-item-wrapper .block-item-name li .block-item-left-text{padding-right: 10px;}
.business_slider_box .block-item-wrapper .block-item-name li .block-item-left{display: block;width: 90px;word-wrap: break-word;word-break: break-all;text-align-last: justify;-moz-text-align-last: justify;text-align: justify;text-justify: distribute-all-lines;}
.business_slider_box .block-item-wrapper .block-item-name li .block-item-right{white-space: normal;word-break: break-all;}
.business_slider_box .block-item-wrapper{margin: 14px 0;}
.business_slider_box .block-item-wrapper .block-item-box{border: 1px solid #afafaf;border-radius: 6px;padding: 4px 8px;}
.business_slider_box .block-item-wrapper .block-item-box.active{background: #188ae2;color: #fff;border-color: #188ae2;}

.business_slider_box .block-item-wrapper .block-item-left{display: inline-block;text-align: left;font-size: 14px;vertical-align: top;}
.business_slider_box .block-item-wrapper .block-item-right{display: inline-block;text-align: left;font-size: 14px;}
/*  */
.business_slider_box .spatial-draw{width: 100%;height: 90px;top: 0;left: 0;z-index: 4;overflow: hidden;transition: all 0.3s;background: #fff;box-shadow: 0 5px 10px rgb(0 0 0 / 10%)}
.business_slider_box .spatial-draw-item{width: 33.3333%;height: 90px;float: left;cursor: pointer; position: relative;}
.business_slider_box .spatial-draw-item .spatial-draw-text{text-align: center;line-height: 45px;width: 100%;}
.business_slider_box .spatial-draw-item .spatial-draw-icon{width: 35px;height: 35px;border-radius: 50%;margin: 8px auto 0 auto;text-align: center;line-height: 45px;background: #9f1d49;opacity: 0.6;}
.business_slider_box .spatial-draw-item .spatial-draw-icon .icon{color: #fff;width: 23px;height: 23px;display: inline-block;vertical-align: 0;}
.business_slider_box .spatial-draw-item::before{position: absolute;content: '';height: 3px;width: 100%;background: #04357D;transition: all 0.2s;transform: scale(0,1);bottom: 1px}
.business_slider_box .spatial-draw-item.active::before{transform: scale(1,1);}
.business_slider_box .spatial-draw-item.active .spatial-draw-icon{opacity: 1;}
.business_btn{color: #fff;background-color: #188ae2;border-color: #188ae2;}


.map_more_tool{}
.map_more_tool .map_more_tool_title{display: inline-block;vertical-align: middle;line-height: 25px;width: 80px;text-align: right;font-size: 14px;color: #666;}
.map_more_tool .map_more_view{font-size: 14px;color: #188ae2;}
.map_more_tool .map_more_box{padding: 0 20px;height: 50px;background: #fff;}
.map_more_tool .map_more_button{padding: 2px 8px;margin-right: 4px;color: #333;text-decoration: none;cursor: pointer;border-radius: 2px;border: 1px solid #d7d7d7;background-color: transparent;outline: none;}
.map_more_tool .map_more_button:hover{border-color: #5EB7F2;color: #5294D7;background: rgba(232, 247, 246, 1);}

.link_document_wrapper{padding: 10px;}
.link_document_wrapper .link_document_input{width: 100%;border: solid 1px #ddd;height: 30px;border-radius: 2px;text-align: left;outline-style: none;}
.map-info-wrapper{padding: 0 10px;}
