<!----------------------------------------
* 面板组件
* 戴飞
* 2020-11-23 13:10:30
------------------------------------------->
<style>
  .layui-card-header .card-title{
    display: flex;
    justify-content: space-between;
  }
  .card-title {
    display: inline-block;
    padding: 0 10px;
    height: 100%;
  }
   .layui-card-body .body-box{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
   .layui-card-body .body-box .body-count{
    color: #295293;
    font-weight: 700;
    margin-right: 10px;
    font-size: 18px;
  }
  .layui-card-body{
    position: relative;
    padding-bottom: 30px;
  }
   .layui-card-body .detail{
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 14px;
    color: #295293;
  }
  .layui-card-body .detail a{
    cursor: pointer;
    color: #295293;
  }
  .card-active{
    background: #e5f2f7;
    border: 1px solid #e5f2f7 !important;
  }
</style>


<div class="layui-col-md card-height" id="cardView">
  
</div>