#MainMenu .menuItem.nav_1 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon1.png);}
#MainMenu .menuItem.nav_2 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon2.png);}
#MainMenu .menuItem.nav_3 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon3.png);}
#MainMenu .menuItem.nav_5 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon5.png);}
#MainMenu .menuItem.nav_4 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon4.png);}
#MainMenu .menuItem.nav_6 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon6.png);}
#MainMenu .menuItem.nav_7 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon7.png);}
#MainMenu .menuItem.nav_8 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon8.png);}
#MainMenu .menuItem.nav_9 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon9.png);}
#MainMenu .menuItem.nav_10 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon10.png);}
#MainMenu .menuItem.nav_11 .menu-icon{ background-image: url(../../../public/static/icon/nav-icon11.png);}