<style>
    .forgetPassowrd-box {text-align: center ;width: 480px;margin:0 auto;padding-top: 20px;}
    .forgetPassowrd-box .login-form { width: 354px; background: none; height: 35px; margin: 0 auto; position: relative;float: left }
    .forgetPassowrd-box .input-box {height: 35px; left: 7px; width:96%;top: 0px;}
    .forgetPassowrd-box .input-box input { width: 100%; height: 100%; border: 1px solid rgb(221, 221, 221); padding: 0 7px; background: none; margin: 0; font-size: 16px; font-family: 微软雅黑;border-radius: 3px;}

    .forgetPassowrd-box .btn {width: 480px;height: 52px; text-align: center;margin-top: -40px;}
    .forgetPassowrd-box .btn button {border-radius: 5px;box-shadow: 0 0 10px #cde0f6;width: 360px;height: 52px;text-align: center;background: #5496e0;font-size: 18px;color: #fff;cursor: pointer;border: none;}
    .forgetPassowrd-box .btn button:hover { background: #4e8acf; }
    .forgetPassowrd-box .layui-form-checked[lay-skin=primary] i { border-color: #4e8acf!important; background-color: #4e8acf;}

    .forgetPassowrd-box .login-form-captcha .login-form { width: 175px; margin:0 0 0 -1px; position: relative; top: -1px;}

    .forgetPassowrd-box input { outline: none;}

    .forgetPassowrd-box input::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 35px;
    }

    .forgetPassowrd-box .leftDIv {
        float: left;
        width: 100px;
        line-height: 35px;
        font-size: 16px;
        text-align-last:justify;
        text-align:justify;
        text-justify:distribute-all-lines;
        margin-right: 7px;
    }
    .forgetPassowrd-box #updatePassword{
        width: 100px;
        height: 45px;
        font-size: 16px;
        margin-top: 65px;
    }
</style>

<div class="forgetPassowrd-box">
    <br>
    <div style="margin: 20px 0">
        <div class="leftDIv"><label>用户名</label></div>
        <span style="float: left; line-height: 35px; margin: 0 10px 0 5px">:</span>
        <div class="login-form">
            <div class="input-box">
                <input type="text" autocomplete="off" name="fakepasswordremembered" disabled id="username">
            </div>
        </div>
        <div style="clear: both;float: none"></div>
    </div>
    <div style="margin: 20px 0">
        <div class="leftDIv"><label>原密码</label></div>
        <span style="float: left; line-height: 35px; margin: 0 10px 0 5px">:</span>
        <div class="login-form">
            <div class="input-box">
                <input type="password" autocomplete="off" name="fakepasswordremembered" placeholder="请输入原密码" id="passwordOld">
            </div>
        </div>
        <div style="clear: both;float: none"></div>
    </div>
    <div style="margin: 20px 0">
        <div class="leftDIv"><label>新密码</label></div>
        <span style="float: left; line-height: 35px; margin: 0 10px 0 5px">:</span>
        <div class="login-form">
            <div class="input-box">
                <input type="password" autocomplete="off" name="fakepasswordremembered" placeholder="请输入新密码" id="passwordNew1">
            </div>
        </div>
        <div style="clear: both;float: none"></div>
    </div>
    <div style="margin: 20px 0">
        <div class="leftDIv"><label>确认新密码</label></div>
        <span style="float: left; line-height: 35px; margin: 0 10px 0 5px">:</span>
        <div class="login-form">
            <div class="input-box">
                <input type="password" autocomplete="off" name="fakepasswordremembered" placeholder="确认新密码" id="passwordNew2">
            </div>
        </div>
        <div style="clear: both;float: none"></div>
    </div>
    <br>
    <div class="btn">
        <button id="updatePassword">修&nbsp;&nbsp;改</button>
    </div>
</div>