<!----------------------------------------
* 指标管理 - 指标项
* 杨爽
* 2020-11-09 09:17:57
------------------------------------------->

<style>
    .tree_box .layui-form-item{
        margin-left:-110px;
    }
    .layout-template-view{
        background:rgb(239,241,242);
        padding:0!important;
    }
    .FUI-table-layout{
        padding:15px 0 0 0!important;
    }
    .tree_box{
        width:17%;
        height:850px;
        background:#fff;
        margin-right:.5%;
        float:left;
        overflow-x:auto;
        overflow-y: hidden;
    }
    .tree_box::-webkit-scrollbar {
                display: none;
    }

    /* .ztree{
        margin:0 40px 20px 20px;
        overflow: auto;
        height:750px;
    } */
    .table_box{
        width:82.5%;
        height:850px;
        background:#fff;
        float:left;
    }
   
    /* .ztree *{
        font-size:16px;
    } */
    #selectForm {
        margin-top:15px;
    }
    #progressCollection .FD-UI-table-box .FD-UI-evenColor-row:nth-child(even) {
        background: #f0f0f0;
    }
    /* 2021-03-31 陈薪名 修改注释掉该代码否则翻页出现在数据中间 */
    /* #progressCollection .layout-table-paging {
        position: absolute;
        width: 100%;
        top: 60.5%;
    } */
    /* .ztree li a.curSelectedNode {padding-top:0px; background-color:#999; color:#fff; height:16px; border:1px #999 solid; opacity:0.8;} */
</style>

<div class="tree_box">
    <div id="selectForm">
        
    </div>
    <ul id="tree" class="ztree"></ul>
</div>
<div class="table_box">
    <div id="progressCollection">
    </div>
</div>

