/* #OneMap .OneMap_ToolIcon { background-image: url(../../../../../static/img/OneMapToolIcon.png); transform: scale(0.7); cursor: pointer; width: 40px; height: 40px; display: inline-block; background-repeat:no-repeat; }
#OneMap .OneMap_ToolIcon.box { background-position: 0px 0px; } 
#OneMap .OneMap_ToolIcon.box:hover { background-position: -40px 0px; } 
#OneMap .OneMap_ToolIcon.location { background-position: 0px -40px; } 
#OneMap .OneMap_ToolIcon.location:hover { background-position: -40px -40px; } 
#OneMap .OneMap_ToolIcon.measure { background-position: 0px -80px; } 
#OneMap .OneMap_ToolIcon.measure:hover { background-position: -40px -80px; } 
#OneMap .OneMap_ToolIcon.select { background-position: 0px -120px; } 
#OneMap .OneMap_ToolIcon.select:hover { background-position: -40px -120px; } 
#OneMap .OneMap_ToolIcon.draw { background-position: 0px -160px; } 
#OneMap .OneMap_ToolIcon.draw:hover { background-position: -40px -160px; } 
#OneMap .OneMap_ToolIcon.draw_point { background-position: -80px -160px; } 
#OneMap .OneMap_ToolIcon.draw_point:hover { background-position: -120px -160px; } 
#OneMap .OneMap_ToolIcon.draw_line { background-position: -160px -160px; } 
#OneMap .OneMap_ToolIcon.draw_line:hover { background-position: -200px -160px; } 
#OneMap .OneMap_ToolIcon.draw_polygon { background-position: -240px -160px; } 
#OneMap .OneMap_ToolIcon.draw_polygon:hover { background-position: -280px -160px; } 
#OneMap .OneMap_ToolIcon.clear { background-position: 0px -200px; } 
#OneMap .OneMap_ToolIcon.clear:hover { background-position: -40px -200px; } 
#OneMap .OneMap_ToolIcon.click { background-position: 0px -240px; } 
#OneMap .OneMap_ToolIcon.click:hover { background-position: -40px -240px; } 
#OneMap .OneMap_ToolIcon.click_one { background-position: -80px -240px; } 
#OneMap .OneMap_ToolIcon.click_one:hover { background-position: -120px -240px; } 
#OneMap .OneMap_ToolIcon.click_more { background-position: -160px -240px; } 
#OneMap .OneMap_ToolIcon.click_more:hover { background-position: -200px -240px; } 
#OneMap .OneMap_ToolIcon.sign { background-position: 0px -280px; } 
#OneMap .OneMap_ToolIcon.sign:hover { background-position: -40px -280px; } 
#OneMap .OneMap_ToolIcon.split { background-position: 0px -320px; } 
#OneMap .OneMap_ToolIcon.split:hover { background-position: -40px -320px; } 
#OneMap .OneMap_ToolIcon.double { background-position: 0px -360px; } 
#OneMap .OneMap_ToolIcon.double:hover { background-position: -40px -360px; } 
#OneMap .OneMap_ToolIcon.download { background-position: 0px -400px; } 
#OneMap .OneMap_ToolIcon.download:hover { background-position: -40px -400px; } 
#OneMap .OneMap_ToolIcon.upMap { background-position: 0px -440px; } 
#OneMap .OneMap_ToolIcon.upMap:hover { background-position: -40px -440px; } 
#OneMap .OneMap_ToolIcon.position { background-position: 0px -480px; } 
#OneMap .OneMap_ToolIcon.position:hover { background-position: -40px -480px; } 
#OneMap .OneMap_ToolIcon.export { background-position: 0px -520px; } 
#OneMap .OneMap_ToolIcon.export:hover { background-position: -40px -520px; } 
#OneMap .OneMap_ToolIcon.export_txt { background-position: -80px -520px; } 
#OneMap .OneMap_ToolIcon.export_txt:hover { background-position: -120px -520px; } 
#OneMap .OneMap_ToolIcon.export_vector { background-position: -160px -520px; } 
#OneMap .OneMap_ToolIcon.export_vector:hover { background-position: -200px -520px; } 
#OneMap .OneMap_ToolIcon.transition { background-position: 0px -560px; } 
#OneMap .OneMap_ToolIcon.transition:hover { background-position: -40px -560px; } 
#OneMap .OneMap_ToolIcon.earth { background-position: 0px -600px; } 
#OneMap .OneMap_ToolIcon.earth:hover { background-position: -40px -600px; } 
#OneMap .OneMap_ToolIcon.swiper { background-position: 0px -640px; } 
#OneMap .OneMap_ToolIcon.swiper:hover { background-position: -40px -640px; } 

.OneMap_contentMap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #ccc;}
.OneMap_mapDemu { position: absolute; left: 400px; width: 500px; top: 100px; bottom: 300px; background: #aaa; overflow: scroll;}

.OneMap_MainMenu { position: absolute; width: 50px; left: 0; bottom: 0; background: rgba(29, 72, 141, .95); top: 55px; }
.OneMap_MainMenu .OneMap_MainMenu_item { width: 50px; height: 25px; padding: 27px 0; cursor: pointer; }
.OneMap_MainMenu .OneMap_MainMenu_item:hover { background: rgba(4, 52, 124, 0.5); }
.OneMap_MainMenu .OneMap_MainMenu_item.active { background: #04357D; }
.OneMap_MainMenu .OneMap_MainMenu_item i { display: block; width: 25px; transform: scale(1); height: 25px; margin: 0 0 0 12px; background-image: url(../../../../../static/img/oneMap_mine_menu.png); background-repeat: no-repeat; }
.OneMap_MainMenu .OneMap_MainMenu_item i.MapSource { background-position: 0px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.TopicAnalyse { background-position: -50px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.AnalyseHistory { background-position: -100px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.DatumStatistics { background-position: -150px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.DatumShow { background-position: -200px 0px; }
.OneMap_MainMenu .OneMap_MainMenu_item i.MapSearch { background-position: -250px 0px; }

.OneMap_ButtonBar { position: absolute; bottom: 0; height: 25px; left:50px ; right: 0; background: rgba(29, 72, 141, .95);   color: #fff; font-size: 12px;  line-height: 25px;}
.OneMap_ButtonBar .OneMap_ButtonBar_timer { float: right; margin: 0 10px 0 0; }
.OneMap_ButtonBar .OneMap_ButtonBar_position { float: left; margin: 0 0 0 10px; }

.OneMap_Header { position: absolute; top: 0; user-select: none; height: 55px; left:0px ; right: 0; background: rgba(29, 72, 141, .95); } 
.OneMap_Header .OneMap_Logo { height: 55px; float: left; }
.OneMap_Header .OneMap_Logo img { height: 100%; margin: 0 0 0 -12px; }
.OneMap_Header .OneMap_userinfo { float: right; position: relative; height: 55px; line-height: 50px; padding: 0 15px 0 20px; transition: all 0.1s;}
.OneMap_Header .OneMap_headerImage { width: 35px; height: 35px; vertical-align: middle; margin: 0 10px 0 0; }

.OneMap_username { display: inline-block; vertical-align: middle; color: #fff; }
.OneMap_username span { margin: 0 10px 0 0;}

.OneMap_userinfo:hover { background: rgba(4, 52, 124, 0.5); cursor: pointer;}
.OneMap_userinfo:hover i { transform: rotateZ(180deg);}
.OneMap_userinfo i { transition: all 0.3s;}
.OneMap_userinfo_poperMenu { position: absolute; display: none; top: 42px; width: 100%; right: 0; height: 150px; }
.OneMap_userinfo_poperMenu_box { padding: 10px 0;  position: absolute; background: #fff; width: 120px; right: 10px; top: 15px; border-radius: 5px; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
.OneMap_userinfo_poperMenu_box::before { width: 0; display: block; content: ''; height: 0; position: absolute; left: 50px; top: -7px; border-bottom: 8px solid #fff; border-right: 8px solid transparent; border-left: 8px solid transparent;}
.OneMap_userinfo_poperMenu_item { text-align: center; font-size: 15px; color: #666; line-height: 40px; cursor: pointer;}
.OneMap_userinfo_poperMenu_item:hover { color: #5294D7; background: #E8F7F6;}
.OneMap_userinfo:hover .OneMap_userinfo_poperMenu { display: block;}

.OneMap_Header .OneMap_docButton { float: right; width: 55px; height: 55px; overflow: hidden; cursor: pointer; transition: all 0.1s;}
.OneMap_Header .OneMap_docButton:hover {  background: rgba(4, 52, 124, 0.5); }
.OneMap_Header .OneMap_docButton img { width: 30px; height: 30px; margin: 13px;}
.OneMap_Header .OneMap_Header_timer { line-height: 55px; padding: 0 15px; float: right; color: #fff;}

.OneMap_LeftBar { position: absolute; user-select: none; top: 55px; left: 50px; bottom: 25px; width: 0px; background: #fff; transition: all 0.3s; overflow: hidden;}
.OneMap_LeftBar .OneMap_LeftBar_box { position: absolute; width: 300px; height: 100%; overflow: hidden;}
.OneMap_LeftBar .OneMap_LeftBar_SubBox { position: absolute; width: 300px; height: 90px; top: 0; left: 0; z-index: 4;}
.OneMap_LeftBar .OneMap_LeftBar_carouselBox {position: absolute; width: 300px; bottom: 0; top: 0px; }
.OneMap_LeftBar .OneMap_LeftBar_carousel_progress { position: absolute; text-align: center; height: 45px; width: 300px; left: 0; bottom: 0;}
.OneMap_LeftBar .OneMap_LeftBar_carousel_layout {position: absolute; bottom: 45px; width: 300px; left: 0; top: 0; transition: all 0.3s; }
.OneMap_LeftBar .OneMap_LeftBar_SubBox { overflow:hidden; transition: all 0.3s; background: #fff; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);}
.OneMap_LeftBar .OneMap_LeftBar_clearButton { position: absolute; z-index: 11; width: 45px; color: #04357D; height: 45px; bottom: -45px; right: 0; text-align: center; line-height: 45px; font-size: 18px; cursor: pointer;}

.OneMap_LeftBar .OneMap_LeftBar_Sub_Item { width: 75px; height: 90px; float: left; cursor: pointer; position: relative;} 
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item::before { position: absolute; content: ''; height: 3px; width: 100%; background: #04357D; transition: all 0.2s; transform: scale(0,1); bottom: 1px; }
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item.active::before {transform: scale(1,1);  }
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_icon { width: 35px; height: 35px; border-radius: 50%; margin: 8px auto 0 auto; } 
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_name { font-size: 14px;  text-align: center; line-height: 45px; width: 100%;  }
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_icon { text-align: center; line-height: 45px; opacity: 0.5; transition: all 0.3s;}
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item_icon .icon { color: #fff; width: 23px; height: 23px; display: inline-block;vertical-align: 0;}
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item:hover .OneMap_LeftBar_Sub_Item_icon { opacity: 1;}
.OneMap_LeftBar .OneMap_LeftBar_Sub_Item.active .OneMap_LeftBar_Sub_Item_icon { opacity: 1;}

.OneMap_LeftBar .OneMap_LeftBar_carousel_progress_item { width: 40px; height: 45px; display: inline-block; }
.OneMap_LeftBar .OneMap_LeftBar_carousel_progress_item::before { cursor: pointer; content: ''; display: block; width: 8px; height: 8px; margin: 17px auto 0 auto; border-radius: 50%; background: #D7D7D7; }
.OneMap_LeftBar .OneMap_LeftBar_carousel_progress_item.active::before { background: #04357D;}
.OneMap_LeftBar .OneMap_LeftBar_carousel_item_box { height: 100%; width: 300px; float: left; position: relative; }

.OneMap_LeftBar .OneMap_LeftBar_TreeBox { position: absolute; top: 95px; left: 5px; right: 5px; bottom: 5px; overflow-x: hidden; overflow-y: scroll; padding: 10px 0;}
.OneMap_LeftBar .OneMap_Tree_Item { position: relative; transition: all 0.3s; background: #fff;}
.OneMap_LeftBar .OneMap_Tree_Item_name { color: #333;  cursor: pointer;  padding: 5px 0; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_line { position: absolute; width: 20px; top: 0px; left: 0; bottom: 0; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_line::after { position: absolute; content: ''; border-left: 1px dotted #999; display: block; width: 2px; top: 0; left: 9px; bottom: 0; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_line::before { position: absolute; content: ''; border-top: 1px dotted #999; display: block; width: 10px; height: 2px; top: 20px; left: 9px; right: 0; }

.OneMap_LeftBar .OneMap_LeftBar_TreeBox .OneMap_Tree_Item:first-child > .OneMap_Tree_Item_line::after { top: -35px;} 
.OneMap_LeftBar .OneMap_LeftBar_TreeBox > .OneMap_Tree_Item:first-child > .OneMap_Tree_Item_line::after { top: 20px;} 
.OneMap_LeftBar .OneMap_LeftBar_TreeBox .OneMap_Tree_Item:last-child > .OneMap_Tree_Item_line::after { bottom: 25px;} 

.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_checkBox { position: absolute; background: #fff; z-index: 3; width: 20px; height: 20px; top: 10px; left: 20px;}
.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_icon { position: absolute;  width: 20px; text-align: center; height: 30px; top: 9px; left: 40px;}
.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_button { position: absolute; width: 60px; height: 30px; top: 9px; right: 0; z-index: 3; background: rgba(255, 255, 255, 0.8); box-shadow: 0 0 5px #fff; }
.OneMap_LeftBar .OneMap_Tree_Item_name .OneMap_Tree_Item_itemName { padding:5px 10px 5px 60px; font-size: 14px; word-break: break-all; word-wrap : break-word; line-height: 25px; max-height: 50px; overflow: hidden;  }
.OneMap_LeftBar .OneMap_Tree_Item.__folder > .OneMap_Tree_Item_name > .OneMap_Tree_Item_itemName  { padding: 5px 10px 5px 75px; }
.OneMap_LeftBar .OneMap_Tree_Item.__folder > .OneMap_Tree_Item_name > .OneMap_Tree_Item_icon { top: 10px; left: 45px; color: #1296DB;}
.OneMap_LeftBar .OneMap_Tree_Folder_switch { color: #aaa; width: 20px; height: 20px; text-align: center; line-height: 20px; position: absolute; top: 12px; left: -1px; background: #fff; z-index: 3;}

.OneMap_LeftBar .OneMap_Tree_Item_name .layui-form-checkbox[lay-skin=primary] { padding-left: 10px; vertical-align: middle; margin: -3px 0 0 0;}
.OneMap_LeftBar .OneMap_Tree_Item_name .fa.fa-circle { color: #999; margin: 0 2px 0 0; transform: scale(0.5); }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button { width: 30px; height: 30px; line-height: 30px; color: #999; text-align: center; position: absolute; }
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button._MapSymbol { left: 0;}
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button._MapOpacity { left: 30px; font-size: 20px; line-height: 17px;}
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_MapSymbol_button:hover { color: #1296DB;}
.OneMap_LeftBar .OneMap_Tree_Item .OneMap_Tree_Item_MapOpacityEle { user-select: none; height: 45px; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); transition: all 0.3s; position: absolute; opacity: 0; right: 5px; width: 260px; background: #fff;}
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_name { display: inline-block; vertical-align: middle; line-height: 45px; width: 80px; text-align: right; font-size: 14px; color: #666; }
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider { display: inline-block; position: relative; vertical-align: middle; line-height: 45px; height: 45px; width: 170px; }
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_line { width: 120px; cursor: pointer; height: 5px; border-radius: 50px; background: #ddd; position: absolute; left: 5px; top: 20px; }
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_point { width: 7px; height: 7px; position: absolute; left: 100%; cursor: pointer; border: 2px solid #999; border-radius: 50%; top: -3px; margin: 0 0 0 -6px; background: #fff;}
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_leftLine { height: 100%; background: #1296DB; width: 100%; } 
.OneMap_LeftBar .OneMap_Tree_Item_MapOpacityEle .OneMap_Slider_value { position: absolute; line-height: 45px; color: #666; right: 0; width: 40px; font-size: 14px;}
.OneMap_LeftBar .OneMap_LeftBar_TreeBox_mark { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;}

.OneMap_LeftBar .OneMap_TopicAnalyse_content { position: absolute; top: 90px; left: 0; right: 0; bottom: 0; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_TopicAnalyse_Item { padding: 20px; height: 80px; position: relative; border-bottom: 1px solid #ccc; cursor: pointer; }
.OneMap_LeftBar .OneMap_TopicAnalyse_Item .OneMap_TopicAnalyse_Icon { width: 50px; height: 50px; background: url(../../../../../static/img/AnalyseIcon.png); background-size: 100% 100%;}
.OneMap_LeftBar .OneMap_TopicAnalyse_Item .OneMap_TopicAnalyse_Title { position: absolute; left: 80px; right: 20px; top: 20px;  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.OneMap_LeftBar .OneMap_TopicAnalyse_Item .OneMap_TopicAnalyse_Des { position: absolute; left: 80px; right: 20px; top: 50px;  overflow: hidden; height: 55px; font-size: 14px; color: #666;} 

.OneMap_LeftBar .OneMap_AnalyseHistory_content { top: 0; width: 100%; bottom: 0; position: absolute; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_AnalyseHistory_Item { padding: 20px; height: 50px; position: relative; border-bottom: 1px solid #ccc; cursor: pointer; }
.OneMap_LeftBar .OneMap_AnalyseHistory_Item .OneMap_AnalyseHistory_Icon { width: 50px; height: 50px; background: url(../../../../../static/img/AnalyseIcon.png); background-size: 100% 100%;}
.OneMap_LeftBar .OneMap_AnalyseHistory_Item .OneMap_AnalyseHistory_Title { position: absolute; left: 80px; right: 20px; top: 20px;  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.OneMap_LeftBar .OneMap_AnalyseHistory_Item .OneMap_AnalyseHistory_Des { position: absolute; left: 80px; right: 20px; top: 50px;  overflow: hidden; height: 55px; font-size: 12px; color: #999;} 

.OneMap_LeftBar .OneMap_DatumStatistics_content { top: 0; width: 100%; bottom: 0; position: absolute; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_Statistic_Item { width: 100px; float: left; height: 100px; margin: 20px; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3) ; }
.OneMap_LeftBar .OneMap_Statistic_Item .OneMap_Statistic_Icon { width: 50px; height: 50px; margin: 10px auto 0 auto; background: url(../../../../../static/img/statisticsIcon.png); background-size: 100% 100%;}
.OneMap_LeftBar .OneMap_Statistic_Item .OneMap_Statistic_Title { color: #666; font-size: 14px; height: 38px; overflow: hidden; text-align: center; width: 90px; margin: 0 auto;}

.OneMap_LeftBar .OneMap_Search_Tab { position: absolute; height: 45px;  width: 100%; overflow: hidden; border-bottom: 1px solid #ccc;}
.OneMap_LeftBar .OneMap_Search_Content { position: absolute; top: 50px; bottom: 0; width: 100%; overflow:hidden; }

.OneMap_LeftBar .OneMap_Search_Select { position: absolute; height: 45px;  width: 100%; overflow: hidden; border-bottom: 1px solid #ccc; line-height: 45px; }
.OneMap_LeftBar .OneMap_Search_Select_name { float: left; text-align: center; color: #5294d7; padding: 0 0 0 15px; }
.OneMap_LeftBar .OneMap_Search_Select_name i { margin: 0 10px 0 0 ;}
.OneMap_LeftBar .OneMap_Search_Select_more { float: right; padding: 0 15px; cursor: pointer; color: #666; border-left: 1px solid #ccc; font-size: 14px; }
.OneMap_LeftBar .OneMap_Search_Select_more:hover { color: #1296DB; }
.OneMap_LeftBar .OneMap_Search_Select_Box { position: absolute; background: #fff; top: 46px; width: 100%; z-index: 6; height: 90px; border-bottom: 1px solid #eee; overflow: hidden ;}
.OneMap_LeftBar .OneMap_Search_Select_Box.hide { display: none; }
.OneMap_LeftBar .OneMap_Search_Select_Item { line-height: 45px; cursor: pointer; border-bottom: 1px solid #eee;margin: 0 0 -1px 0; padding: 0 0 0 15px; color: #999; }
.OneMap_LeftBar .OneMap_Search_Select_Item i { margin: 0 10px 0 0;}
.OneMap_LeftBar .OneMap_Search_Select_Item:hover { background: rgba(82, 148, 215, .1);}
.OneMap_LeftBar .OneMap_Search_Select_Item.active { color: #1296DB;  }
.OneMap_LeftBar .OneMap_Search_Content_Point { position: absolute; top: 0; width: 100%; height: 100%; left: 0; overflow:hidden;}
.OneMap_LeftBar .OneMap_Search_Content_Custom { position: absolute; top: 0; width: 100%; height: 100%; left: 0; overflow:hidden;}

.OneMap_LeftBar .OneMap_Search_Content_Point_input { position: relative; height: 55px; }
.OneMap_LeftBar .OneMap_Search_Content_Point_inputElementBox { position: absolute; left: 10px; top:10px; right: 102px; height: 30px;  }
.OneMap_LeftBar .OneMap_Search_Content_Point_inputEle { position: absolute; width: 100%; color: #666; height: 100%; border: 1px solid #ddd; outline: none; padding: 0 30px 0 10px; line-height: 30px;}
.OneMap_LeftBar .OneMap_Search_Content_Point_input_button { position: absolute; text-align: center; top: 10px; cursor: pointer; right: 10px; width: 50px; background: rgba(29, 72, 141, .95); height: 32px;} 
.OneMap_LeftBar .OneMap_Search_Content_Point_input_button { color: #fff; line-height: 30px; }

.OneMap_LeftBar .OneMap_Search_Content_Point_Content { position: absolute; top: 55px; left: 10px; right: 10px; padding: 20px 0; bottom: 10px; border-top: 1px solid #ddd; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_Search_Content_Point_inputEle_clear { position: absolute; color: #333; height: 100%; width: 20px; text-align: center; top: 0; line-height: 30px; right: -35px; cursor: pointer;}
.OneMap_LeftBar .OneMap_Search_Content_Point_History span { color: #666; }
.OneMap_LeftBar .OneMap_Search_History_Item { line-height: 35px; color: #999; cursor: pointer; padding: 0 10px; position: relative; }
.OneMap_LeftBar .OneMap_Search_History_Item i { margin: 0 10px 0 0; }
.OneMap_LeftBar .OneMap_Search_History_Item span { position: absolute; left: 30px; right: 0; height: 35px; line-height: 35px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }

.OneMap_LeftBar .OneMap_Search_Point_Item { line-height: 35px; color: #666; cursor: pointer; padding: 0 10px; position: relative; }
.OneMap_LeftBar .OneMap_Search_Point_Item i { margin: 0 10px 0 0; }
.OneMap_LeftBar .OneMap_Search_Point_Item span { position: absolute; left: 30px; right: 0; height: 35px; line-height: 35px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
.OneMap_LeftBar .OneMap_Search_Content_Point_Content .OneMap_LeftBar_clearButton { bottom: 0;}

.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox { right: 60px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_input_button { right: 10px; height: 30px;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_Content { top: 90px;  }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_input { height: 90px;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub { position: absolute; left: 10px; top:50px; right: 40px; height: 30px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub .OneMap_Search_Content_Point_inputEle { border: none; font-size: 14px; color: #666; border-bottom: 1px solid #ddd; padding: 0 10px 0 20px;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub i { position: absolute; left: 0; top: 7px; color: #5294D7;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_Content_Point_inputElementBox_sub i.fa-trash-o { right: -30px; width: 30px; left: auto; cursor: pointer; height: 30px; z-index: 5; line-height: 30px; top: 0; text-align: center;}
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_History_Item { height: 60px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_History_Item .OneMap_Search_History_Type{ top: 0px; height: 30px; line-height: 30px; left: 35px; }
.OneMap_LeftBar .OneMap_Search_Content_Custom .OneMap_Search_History_Item .OneMap_Search_History_Name{ top: 28px; height: 30px; line-height: 30px;  left: 35px;}

.OneMap_MapSymbol { position: absolute; bottom: 25px; width: 260px; height: 350px; right: 0; transition: all 0.3s; opacity: 1; transform: translateY(0px); }
.OneMap_MapSymbol .OneMap_MapSymbol_content { position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; overflow-x: hidden; }
.OneMap_MapSymbol .OneMap_MapSymbol_SymbolTitle { color: #333; height: 35px; line-height: 35px; }
.OneMap_MapSymbol .OneMap_MapSymbol_SymbolContent { padding: 5px 0 0 20px; overflow-x: hidden; overflow-y: auto; position: absolute; bottom: 10px; left: 0px;right: 0px; top: 40px;}
.OneMap_MapSymbol .OneMap_SymbolItem { position: relative; line-height: 22px; color: #333; }
.OneMap_MapSymbol .OneMap_SymbolImage { display: inline-block; width: 30px; height: 22px; }
.OneMap_MapSymbol .OneMap_SymbolText { position: absolute; left: 40px; right: 0; height: 22px; color: #333; line-height: 22px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.OneMap_MapSymbol.hide { opacity: 0; transform: translateY(100px); }

.OneMap_dialog .OneMap_dialog_title {height: 35px; color: #fff; background: rgba(29, 72, 141, .95); line-height: 35px; padding: 0 0 0 10px; font-size: 14px; }
.OneMap_dialog .OneMap_dialog_title .OneMap_dialog_close { color: #fff; float: right; width: 35px; height: 35px; cursor: pointer; text-align: center;}
.OneMap_dialog .OneMap_dialog_body { top: 35px; position: absolute; width: 100%; bottom: 0; background: #fff;}

.OneMap_Analyse { position: absolute; bottom: 25px; left: 50px; right: 0px; height: 350px; background: #fff; transition: all 0.3s;} 
.OneMap_Analyse.hide { opacity: 0; transform: translateY(100px); }

.OneMap_MapTool { position: absolute; top: 120px; width: 1px; right: 0; height: 300px; background: #fff; }

.OneMap_MapTool .OneMap_left_box_swith { width: 40px; height: 40px; position: absolute; left: -42px; border-radius: 5px; background:#fff; }
.OneMap_MapTool .OneMap_top_line { background:#fff; height: 40px; width: 200px; left: -260px; position: absolute; border-bottom: 1px solid #ddd;}

.OneMap_MapTool .OneMap_button_line {background:#fff; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); transition: all 0.3s; padding-top: 40px; height: 0px; top: 0px; width: 200px; left: -260px; position: absolute; }
.OneMap_MapTool .OneMap_button_line::after { content: ''; display: block; position: absolute; width: 100%; height: 1px; border-top: 1px solid #ddd; top: 82px;}
.OneMap_MapTool .OneMap_button_line::before { content: ''; display: block; position: absolute; width: 100%; height: 1px; border-top: 1px solid #ddd; top: 126px;}



.OneMap_MainMenu .OneMap_MainMenu_item i.Suitabillity { background-position: -50px 0px; }
.OneMap_LeftBar .OneMap_Suitabillity_content { position: absolute; top: 90px; left: 0; right: 0; bottom: 0; overflow-x: hidden; overflow-y: auto;}
.OneMap_LeftBar .OneMap_Suitabillity_Item { padding: 20px; height: 80px; position: relative; border-bottom: 1px solid #ccc; cursor: pointer; }
.OneMap_LeftBar .OneMap_Suitabillity_Item .OneMap_Suitabillity_Icon { width: 50px; height: 50px; background: url(../../../../../static/img/AnalyseIcon.png); background-size: 100% 100%;}
.OneMap_LeftBar .OneMap_Suitabillity_Item .OneMap_Suitabillity_Title { position: absolute; left: 80px; right: 20px; top: 20px;  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.OneMap_LeftBar .OneMap_Suitabillity_Item .OneMap_Suitabillity_Des { position: absolute; left: 80px; right: 20px; top: 50px;  overflow: hidden; height: 55px; font-size: 14px; color: #666;} 


 */
