<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>土地分类面积汇总</title>
    <style type="text/css">
        *{margin:0; padding:0; list-style:none; font-size:14px;}
        .ys-tab{border-left:1px solid #ccc; border-top:1px solid #ccc; text-align:center;}
        .ys-tab tr td{ line-height:15px; height:26px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
    </style>
</head>
<body>
<div id="tabDiv">
    <table class="ys-tab" cellpadding="0" cellspacing="0" id="tdflhzTable">
        <tr>
            <td colspan="67" style="font-weight:bold;">土地分类面积汇总</td>
        </tr>
        <tr>
            <td colspan="67" style="text-align:right;">单位：平方米</td>
        </tr>
        <tr>
            <td colspan="3" rowspan="3">所属行政辖区</td>
            <td colspan="2" rowspan="3">权属性质</td>
            <td rowspan="3">合计</td>
            <td colspan="17">农用地</td>
            <td colspan="32">建设用地</td>
            <td colspan="11">未利用地</td>
            <td rowspan="3">备注</td>
        </tr>
        <tr>
            <td rowspan="2">小计</td>
            <td colspan="3">耕田</td>
            <td colspan="3">园地</td>
            <td colspan="3">林地</td>
            <td colspan="2">草地</td>
            <td>交通用地</td>
            <td colspan="2">水域及水利设施用地</td>
            <td colspan="2">其他用地</td>
            <td rowspan="2">小计</td>
            <td colspan="4">商服用地</td>
            <td colspan="3">工矿仓储用地</td>
            <td colspan="2">住宅用地</td>
            <td colspan="8">公共管理与公共服务用地</td>
            <td colspan="5">特殊用地</td>
            <td colspan="6">交通运输用地</td>
            <td colspan="2">水域与水利设施用地</td>
            <td>其他土地</td>
            <td rowspan="2">小计</td>
            <td>草地</td>
            <td colspan="5">水域与水利设施用地</td>
            <td colspan="4">其他土地</td>
        </tr>
        <tr>
            <td>水田</td>
            <td>水浇地</td>
            <td>旱地</td>
            <td>果园</td>
            <td>茶园</td>
            <td>其他园地</td>
            <td>有林地</td>
            <td>灌木林地</td>
            <td>其他林地</td>
            <td>天然牧草地</td>
            <td>人工牧草地</td>
            <td>农村道路</td>
            <td>坑塘水面</td>
            <td>沟渠</td>
            <td>设施农用地</td>
            <td>田坎</td>
            <td>批发零售用地</td>
            <td>住宿餐饮用地</td>
            <td>商务金融用地</td>
            <td>其他商服用地</td>
            <td>工业用地</td>
            <td>采矿用地</td>
            <td>仓储用地</td>
            <td>城镇住宅用地</td>
            <td>农村宅基地</td>
            <td>机关团体用地</td>
            <td>新闻出版用地</td>
            <td>科教用地</td>
            <td>医卫慈善用地</td>
            <td>文体娱乐用地</td>
            <td>公共设施用地</td>
            <td>公园与绿地</td>
            <td>风景名胜设施用地</td>
            <td>军事设施用地</td>
            <td>使领馆用地</td>
            <td>监教场所用地</td>
            <td>宗教用地</td>
            <td>殡葬用地</td>
            <td>铁路用地</td>
            <td>公路用地</td>
            <td>街巷用地</td>
            <td>机场用地</td>
            <td>港口码头用地</td>
            <td>管道运输用地</td>
            <td>水库水面</td>
            <td>水工建筑用地</td>
            <td>空闲地</td>
            <td>其他草地</td>
            <td>河流水面</td>
            <td>湖泊水面</td>
            <td>沿海水面</td>
            <td>内陆滩涂</td>
            <td>冰川及永久积雪</td>
            <td>盐碱地</td>
            <td>沼泽地</td>
            <td>沙地</td>
            <td>裸地</td>
        </tr>
    </table>
</div>
</body>
</html>